{
    "name": "business_launcher",
    "checkURL": "upgrade/webAppConfig",
    "version": "1",
    "config": {
        "Demo": {
            "title": "页面标题",
            "type": "Activity 类型：native 原生页面，WebApp Sehcha页面，WebView Web页面",
            "action": "native 时表示的是类名（不带后缀Activity)，如果 Activity 在当前应用包下则这里配成 '.x.x.x'，否则要写包全名称 'x.x.x' ",
            "url": "WebView 页面时的 URL 地址"
        },
        "home": {
            "title": "首页",
            "type": "native",
            "action": ".activity.main.Main"
        },
        "Convenient": {
            "title": "生活",
            "type": "native",
            "action": ".activity.communityservice.CommunityService"
        },
        "mobile_recharge": {
            "title": "手机充值",
            "type": "native",
            "action": ".activity.communityservice.phonerecharge.RechargeSelectAmount"
        },
        "remittance": {
            "title": "转账汇款",
            "type": "native",
            "action": ".activity.communityservice.transferremittance.TransferRemittance"
        },
        "login_page": {
            "title": "登陆",
            "type": "native",
            "action": ".activity.login.Login"
        },
        "setting": {
            "title": "设置",
            "type": "native",
            "action": ".activity.setting.Setting"
        },
        "OpenChoose": {
            "title": "开通商户",
            "type": "native",
            "action": ".activity.login.BindMerchant"
        },
        "online_service": {
            "title": "在线客服",
            "type": "native",
            "action": ".activity.merchantservice.OnlineService"
        },
        "collection": {
            "title": "手机收款",
            "type": "native",
            "action": ".activity.collection.CollectionMain"
        },
        "collection_entrance": {
            "title": "收款",
            "type": "native",
            "action": ".activity.collection.CollectionEntrance"
        },
        "collection_transaction": {
            "title": "收款交易",
            "type": "native",
            "action": ".activity.collection.CollectionsAmountInput"
        },
        "large_amount_collection": {
            "title": "收款交易",
            "type": "native",
            "action": ".aactivity.shoudan.largeamountcollection.LargeAmountInput"
        },
        "revocation": {
            "title": "撤销交易",
            "type": "native",
            "action": ".activity.collection.CollectionCancelChoose"
        },
        "balance_query": {
            "title": "余额查询",
            "type": "native",
            "action": ".activity.communityservice.balanceinquery.BalanceInquery"
        },
        "convenience": {
            "title": "便民服务",
            "type": "native",
            "action": ".activity.communityservice.CommunityService"
        },
        "creditcard_payment": {
            "title": "信用卡还款",
            "type": "native",
            "action": ".activity.communityservice.creditpayment.CreditFormInput"
        },
        "ProtectQuestion": {
            "title": "设置密保问题",
            "type": "native",
            "action": "com.lakala.platform.swiper.mts.paypwd.PayPwdSetQuestion"
        },
        "SetPayPwd": {
            "title": "设置支付密码",
            "type": "native",
            "action": "com.lakala.platform.swiper.mts.paypwd.PayPwdSet"
        },
        "PasswordManage": {
            "title": "密码管理",
            "type": "native",
            "action": "com.lakala.platform.swiper.mts.payment.PasswordManage"
        },
        "BankNode": {
            "title": "网点地图",
            "type": "native",
            "action": "com.lakala.platform.swiper.mts.map.ZDGLBranchMap"
        }
    }
}