{
    "version": "1",
    "rules": {
        "Example": {
            "updateMode": "缓存更新模式：Version 按版本,Date 按日期, VersionAndDate 按日期和版本,EveryTime 缓存数据后立即过期,Never 只缓存一次永不过期",
            "isReturnExpire": "是否返回过期数据，默认 false",
            "version": "当前数据的版本",
            "validDays": "缓存数据的有效天数，默认 1",
            "keyFields": [
                "***",
                "用于生成缓存 KEY 的字段列表，该字段是请求中的参数字段。缓存Key是用 http 请求的URL与字段值生成的。"
            ]
        },
        "main": {
            "updateMode": "EveryTime",
            "isReturnExpire": true,
            "version": 1,
            "validDays": 20,
            "keyFields": [
                "name",
                "busid"
            ]
        },
        "queryTransInfoList": {
            "updateMode": "EveryTime",
            "isReturnExpire": true,
            "version": 1,
            "validDays": 20,
            "keyFields": [
                "TransType",
                "u"
            ]
        },
        "queryPayeeInfoList": {
            "updateMode": "EveryTime",
            "isReturnExpire": true,
            "version": 1,
            "validDays": 20,
            "keyFields": [
                "BusinessType",
                "u"
            ]
        },
        "getOpenbankList": {
            "updateMode": "EveryTime",
            "isReturnExpire": true,
            "version": 1,
            "validDays": 20,
            "keyFields": [
                "BusinessType"
            ]
        },
        "ShoppingSheet": {
            "updateMode": "Never",
            "isReturnExpire": true,
            "version": 1,
            "validDays": 30,
            "keyFields": [
                "BillId"
            ]
        }
    }
}