{
    "version": "1",
    "level": "1",
    "config": [
        {
            "title": "手机收款",
            "image": "www/images/business/icon_servies_sjsk",
            "tag": "Receipt",
            "movieable": true
        },
        {
            "title": "交易记录",
            "image": "www/images/business/icon_servies_jygl",
            "tag": "TradeManager",
            "movieable": true
        },
        {
            "title": "信贷服务",
            "image": "www/images/business/icon_servies_xdfw",
            "tag": "Loan",
            "movieable": true
        },
        {
            "title": "便民服务",
            "image": "www/images/business/icon_servies_bmfw",
            "tag": "ConvenienceServices",
            "movieable": true
        },
        {
            "title": "超级批发",
            "image": "www/images/business/icon_servies_cjpf",
            "tag": "Wholesale",
            "movieable": true
        },
        {
            "title": "商户服务",
            "image": "www/images/business/icon_servies_shfw",
            "tag": "MerchantManager",
            "movieable": true
        },
        {
            "title": "在线客服",
            "image": "www/images/business/icon_servies_zxkf",
            "tag": "ClientOnLine",
            "movieable": true
        },
        {
            "title": "消息中心",
            "image": "www/images/business/icon_servies_xxzx",
            "tag": "MessageCenter",
            "movieable": true
        },
        {
            "title": "理财专区",
            "image": "www/images/business/icon_servies_xxzx",
            "tag": "wealth",
            "movieable": true
        }
    ]
}