{
    "version": "1.0",
    "whiteList": [
        {
            "hosts": [
                "www.cpic.com.cn",
                "116.228.131.210"
            ],
            "allow": {
                "Navigation": [
                    "setTitle",
                    "finish"
                ],
                "Dialog": [
                    "confirm",
                    "showProgress",
                    "hideProgress"
                ],
                "OpenSystemApp": [
                    "openBrowser"
                ],
                "PhoneBook": [
                    "get"
                ]
            }
        },
        {
            "hosts": [
                "10.5.*.*",
                "mts.lakala.com",
                "124.126.122.20",
                "1.202.150.4"
            ],
            "allow": "*"
        }
    ]
}