{
    "name": "statistic",
    "version": "1",
    "checkURL": "upgrade/webAppConfig",
    "config": {
        "appActivate": "App激活",
        "appRegistered": "App注册成功",
        "appLaunch": "App打开",
        "userLogin": "用户登录",
        "OK": "刷卡成功",
        "Failed": "刷卡失败",
        "KSNFailed":"KSN获取失败",
        "Login1": "注册填写手机号码",
        "Login2": "设置登录密码",
        "Login3": "填写短信验证码",
        "Login4": "登录页面",
        "Login5": "找回登录密码",
        "Login6": "填写短信验证码",
        "Login7": "充值登录密码",
        "Login8": "填写短信验证码",
        "Login9": "手势密码",
        "Home1": "首页",
        "Home2": "拉卡拉服务汇",
        "Scan1": "扫一扫",
        "Scan2": "首次使用，请求权限",
        "Scan3": "从相册选取二维码",
        "Scan4": "二维码为拉卡拉个人收款账户时",
        "Scan5": "二维码为拉卡拉账单号时",
        "Scan6": "二维码为链接（非授信）时，手机默认浏览器打开",
        "Scan7": "二维码为链接（授信）时",
        "Scan8": "二维码为文字或链接文字混合时，客户端页面显示内容",
        "BillPayRes1": "支付结果页面",
        "BillPayRes2": "扫一扫账单支付收银台",
        "BillPayRes3": "扫一扫账单支付结果页",
        "BillPayRes4": "扫一扫钱包支付收银台",
        "BillPayRes5": "扫一扫钱包支付结果页",
        "Credit1": "信用卡还款首页",
        "Credit2": "信用卡还款金额录入",
        "Credit3": "添加还款信用卡",
        "Credit4": "银行选择",
        "Credit5": "无可满足条件的还款储蓄卡",
        "Credit6": "（有满足条件的还款储蓄卡，但未验证储蓄卡姓名）",
        "Credit7": "已有过无卡还款记录",
        "Credit8": "选择支付方式",
        "Credit9": "添加还款储蓄卡",
        "Credit10": "支付页面",
        "Credit11": "还款结果页",
        "Credit12": "信用卡还款服务协议",
        "Credit13": "支付方式选择页面",
        "Credit14": "储蓄卡开户行选择页面",
        "Credit16": "更多服务",
        "Credit17": "修改持卡人姓名页面",
        "Credit18": "电话中心",
        "Credit20": "还款提醒",
        "Credit21": "签约储蓄卡列表",
        "Bill1": "账单导入",
        "Bill2": "账单解析",
        "Bill3": "账单列表",
        "Bill4": "账单详情",
        "Bill5": "历史账单",
        "Discount1": "信用卡优惠列表",
        "Discount2": "信用卡优惠详情",
        "Transfer1": "转账汇款首页",
        "Transfer2": "手机号汇款首页",
        "Transfer3": "常用收款人",
        "Transfer4": "转账到银行卡首页",
        "Transfer5": "常用收款卡",
        "Transfer6": "支付页面",
        "Transfer7": "申请大额页面",
        "Transfer8": "大额管理页面",
        "Transfer9": "转账录入页进入的银行卡列表",
        "Transfer10": "申请大额进入的银行卡列表",
        "Transfer11": "手机号汇款协议",
        "Transfer12": "转账协议",
        "Transfer13": "大额开通协议",
        "Borrow1": "借点钱",
        "Borrow2": "添加信用卡",
        "Borrow3": "借钱信息录入",
        "Borrow4": "借钱验证码确认",
        "Borrow5": "借钱验证码确认/借钱结果页",
        "Borrow6": "借点钱列表页面",
        "Borrow7": "借点钱业务说明",
        "Borrow8": "借点钱约定条款",
        "PhoneRecharge1": "输入充值信息",
        "PhoneRecharge2": "确认付款",
        "PhoneRecharge3": "交易结果",
        "Balance1": "刷卡页面",
        "Balance2": "查询结果",
        "Lottery1": "彩票首页",
        "Lottery2": "彩种选择",
        "Lottery3": "投注页面",
        "Lottery4": "方案页面，生成订单",
        "Lottery5": "我的彩票",
        "Lottery6": "彩票支付",
        "Transaction1": "交易记录首页",
        "Transaction3": "交易详情页",
        "Wallet1": "钱包首页",
        "Wallet2": "充值首页",
        "Wallet3": "充值页面",
        "Wallet4": "充值支付密码录入",
        "Wallet5": "充值结果页",
        "Wallet11": "转出信息录入",
        "Wallet12": "转出密码录入",
        "Wallet13": "转出结果",
        "Wallet14": "收支列表",
        "Wallet15": "收支详情",
        "Wallet16": "添加快捷银行卡",
        "Wallet17": "添加银卡详细信息",
        "Wallet18": "输入短信验证码",
        "Wallet19": "银行卡列表",
        "Wallet20": "信用卡操作详情",
        "Wallet21": "电话中心",
        "Wallet22": "储蓄卡操作详情",
        "Wallet23": "红包列表",
        "Wallet24": "红包详情",
        "Wallet25": "我的二维码",
        "Wallet26": "银行卡列表",
        "Wallet28": "转出信息输入",
        "Wallet29": "无转出记录信息录入",
        "Wallet30": "交易结果",
        "Wallet31": "支持签约银行列表",
        "Wallet32": "添加快捷银行卡(信用卡详细信息)",
        "Wallet33": "短信验证(解绑快捷卡)",
        "Wallet34": "拉卡拉签约协议",
        "Wallet35": "给他人充值",
        "Wallet36": "红包转赠",
        "Setting1": "设置首页",
        "Setting2": "账户安全",
        "Setting4": "银行卡录入",
        "Setting5": "银行卡信息录入",
        "Setting6": "短信校验",
        "Setting7": "密码管理首页",
        "Setting8": "拉卡拉原密码录入",
        "Setting9": "拉卡拉新密码录入",
        "Setting10": "手势密码首页",
        "Setting11": "手势密码设置",
        "Setting12": "支付免密额度设置",
        "Setting13": "支付免密保存",
        "Setting20": "设备管理列表页",
        "Setting21": "更多首页",
        "Setting22": "关于我们",
        "Setting23": "检查更新",
        "Setting24": "意见反馈",
        "Setting25": "当前版本说明",
        "Setting26": "新手指南",
        "Setting27": "自助服务",
        "Setting28": "用户信息",
        "Setting29": "申请服务升级",
        "Pay1": "支付方式选择",
        "Pay2": "钱包支付",
        "Pay3": "刷卡支付",
        "Pay4": "支付结果",
        "Pay5": "快捷短信验证码页面",
        "ALiPayRecharge1": "支付宝充值首页",
        "ALiPayRecharge2": "支付宝充值说明",
        "ALiPayPayment1": "支付宝付款首页",
        "ALiPayPayment2": "支付宝付款说明",
        "Tenpay1": "财付通充值首页",
        "Tenpay2": "财付通充值说明",
        "BillNoPayment1": "账单号付款首页",
        "GameRecharge1": "游戏充值首页",
        "GameRecharge2": "点卡类型选择",
        "GameRecharge3": "面额选择",
        "PublicPayment1": "公共缴费首页",
        "PublicPayment2": "信息录入页",
        "PublicPayment3": "金额信息录入页",
        "PublicPayment城市拼音业务号": "确认缴费",
        "Insurance1": "保险首页",
        "Insurance2": "保险说明",
        "Insurance3": "保险列表页面",
        "Insurance4": "产品详情",
        "Insurance5": "投标人信息页",
        "Insurance6": "投保所在地页/投保目的地页",
        "Insurance7": "投入日期选择页",
        "Insurance8": "交易详情确认",
		"Activity-1":"最新活动",
		"Activity-2":"活动详情",
		"Message-1":"我的消息",
		"Message-2":"消息详情"
    }
}
