<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lakala.elive"
    android:versionCode="2"
    android:versionName="1.0.2">

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 摄像头相关权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk android:minSdkVersion="21" />

    <!-- 配置APP ID -->
    <meta-data
        android:name="BUGLY_APPID"
        android:value="0059247ac2" />
    <!-- 配置APP版本号 -->
    <meta-data
        android:name="BUGLY_APP_VERSION"
        android:value="1.1.4" />
    <!-- 配置APP渠道号 -->
    <meta-data
        android:name="BUGLY_APP_CHANNEL"
        android:value="c87fa80d-1c94-4848-bcb4-fdeace223b54" />
    <!-- 配置Bugly调试模式（true或者false）-->
    <meta-data
        android:name="BUGLY_ENABLE_DEBUG"
        android:value="false" />

    <application
        android:name=".EliveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- SDK uses -->
        <meta-data
            android:name="debug_type"
            android:value="1" />

        <!--YOSfUeQIUZtnNhr1igXSEvnrM7UjYbf4-->
        <!-- YZRRh0qlvZz60nc8gifaaQl4l32D2V8c -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="YZRRh0qlvZz60nc8gifaaQl4l32D2V8c" />

        <!-- 登录界面  termInfo  UserMainActivity-->
        <activity android:name=".user.activity.UserLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--短信验证 密码修改设置-->
        <activity android:name=".user.activity.UserCheckActivity" />
        <activity android:name=".user.activity.UserPwdSetActivity" />
        <!-- 主功能菜单界面 -->
        <activity android:name=".user.activity.UserMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!-- 外勤功能点 -->

        <!-- 日常维护处理 -->
        <activity android:name=".market.activity.DailyWorkListActivity" />

        <!-- 派单处理 -->
        <activity android:name=".market.activity.DealListActivity" />

        <!-- 工单详情  -->
        <activity android:name=".market.activity.TaskDetailActivity" />

        <activity android:name=".market.activity.TaskVisitActivity" />
        <activity android:name=".market.activity.TaskRejectActivity" />
        <activity android:name=".market.activity.TaskVisitDetailActivity" />

        <!-- 商户网点详情 -->
        <activity android:name=".market.activity.MerDetailActivity" />

        <!-- 签到 第一步  基本信息 -->
        <activity android:name=".market.activity.StepEditShopInfoActivity" />

        <!-- 签到 第二步  打标签 -->
        <activity android:name=".market.activity.StepMarkShopInfoActivity" />

        <!-- 签到 第三步  终端列表 -->
        <activity android:name=".market.activity.StepTermListActivity" />

        <!-- 签到 第四步  终端详情信息 -->
        <activity android:name=".market.activity.StepEditTermInfoActivity" />

        <!-- 签到 第五步  新增签到信息 -->
        <activity android:name=".market.activity.StepAddVisitActivity" />

        <!-- 商户终端详情 -->
        <activity android:name=".market.activity.TermDetailActivity" />

        <!-- 商户拜访详情 -->
        <activity android:name=".market.activity.VisitDetailActivity" />

        <!-- 大图显示 -->
        <activity
            android:name=".market.activity.ScreenshotActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <activity
            android:name=".camera.activity.MipcaCaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!-- Demo 案例 -->
        <activity android:name=".user.activity.DemoListActivity" />
        <activity android:name=".map.activity.HelloBaiduMapActivity" />
        <activity android:name=".map.activity.LocationActivity" />
        <activity android:name=".camera.activity.CameraActivity" />
        <!-- 任务历史记录 -->
        <activity android:name=".task.activity.TaskHistoryListAct"/>
        <!-- 地图选任务 -->
        <activity android:name=".map.activity.MapStoreShowAct"
            android:launchMode="singleTask"/>
        <!-- Service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

        <activity
            android:name=".user.activity.PermissionsActivity"
            android:theme="@style/Theme.AppCompat.Permissions" />

        <!--   报表相关的   -->
        <activity android:name=".report.activity.ReportMainActivity" />

        <!-- 消息推送 下面会创建一个应用私有的独立进程-->
        <service
            android:name="com.lakala.elive.message.service.MessageService"
            android:label="消息推送"
            android:process=":message" />

        <!--
        <receiver android:name="com.lakala.elive.message.receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        -->

        <!-- 通知列表页面 -->
        <activity android:name="com.lakala.elive.message.activity.NoticeListActivity"></activity>


        <!-- 通知详情页面 -->
        <activity android:name="com.lakala.elive.message.activity.NoticeDetailActivity"></activity>

        <!-- 投票列表页面 -->
        <activity android:name="com.lakala.elive.message.activity.VoteListActivity"></activity>


        <!-- 投票详情页面 -->
        <activity android:name="com.lakala.elive.message.activity.VoteDetailActivity"></activity>

        <!--进件-->
        <activity
            android:name=".merapply.activity.EnterPieceActivity"
            android:screenOrientation="portrait" />
        <!--扫码银行卡-->
        <activity
            android:name=".merapply.activity.InformationInputActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--营业执照信息-->
        <!--<activity android:name=".scan.activity.LicenseInfoEntryActivity"/>-->
        <!--营业执照照片-->
        <activity
            android:name=".merapply.activity.LicenseEntryPhotoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--基本信息-->
        <activity
            android:name=".merapply.activity.BasicInfoActivity"
            android:screenOrientation="portrait" />
        <!--机具信息-->
        <activity
            android:name=".merapply.activity.MachinesToolsInfoActivity"
            android:screenOrientation="portrait" />
        <!--上传附件-->
        <activity
            android:name=".merapply.activity.PayeeProveInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--进件成功页面-->
        <activity
            android:name=".merapply.activity.MerApplyCompleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".merapply.activity.WaitInputActivity"
            android:screenOrientation="portrait" />

        <!--我的商户-->
        <activity
            android:name=".merapply.activity.MyMerchantsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--对公ocr-->
        <activity
            android:name=".merapply.activity.PrivatePhotoOcrActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--ocr2 营业执照-->
        <activity
            android:name=".merapply.activity.BusinessLicenseDiscernActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--商户申请详情-->
        <activity android:name=".merapply.activity.MerApplyDetailsActivity" />

        <!--相册选择-->
        <activity
            android:name=".merapply.gallery.GalleryActivity"
            android:screenOrientation="portrait" />
        <!--驳回重新提交-->
        <activity
            android:name=".merapply.activity.RejectMerApplyActivity"
            android:screenOrientation="portrait" />
        <!--人脸识别-->
        <activity
            android:name=".merapply.activity.FaceRecognitionActivity"
            android:screenOrientation="portrait" />
        <!-- 任务列表 -->
        <activity
            android:name=".task.activity.TaskListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 工单选择 -->
        <activity android:name=".task.activity.SelectTasksActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 网点选择 -->
        <activity android:name=".task.activity.SelectStoresActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 路径规划 -->
        <activity android:name=".map.activity.PathProjectActivity"
            android:screenOrientation="portrait"></activity>
        <!--对私ocr-->
        <activity android:name=".merapply.activity.PublicPhotoOcrActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---合作商预进件-->
        <activity
            android:name=".preenterpiece.PreEnterPieceListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <!---合作商预进件的联系方式界面-->
        <activity
            android:name=".preenterpiece.PreEntContactInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---合作商预进件的上传照片的界面-->
        <activity
            android:name=".preenterpiece.PreEnterPhotoOcrActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---合作商预进件的人脸识别的界面-->
        <activity
            android:name=".preenterpiece.PreFaceRecognitionActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---合作商预进件结算商户的界面-->
        <activity
            android:name=".preenterpiece.PreEnterSettleAccountsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---合作商预进件结算商户详情的界面-->
        <activity
            android:name=".preenterpiece.PreEnterMerchanDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---合作商预进件许可证的界面-->
        <activity
            android:name=".preenterpiece.PreEnterLicenseEntryPhotoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---合作商预进件完成的界面-->
        <activity
            android:name=".preenterpiece.PerApplyCompleteActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---合作商预进件企业信息的界面-->
        <activity
            android:name=".preenterpiece.PerEnterpriseInformationActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <!---Q码对公进件-->
        <!---Q码上传的界面-->
        <activity
            android:name=".qcodeenter.QCodePublicPhotoOcrActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---Q码上传的界面-->
        <activity
            android:name=".qcodeenter.QCodePrivatePhotoOcrActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---Q码结算信息的界面-->
        <activity
            android:name=".qcodeenter.QCodeSettleInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---Q码人像识别的界面-->
        <activity
            android:name=".qcodeenter.QCodeFaceRecognitionActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---Q码企业信息的界面-->
        <activity
            android:name=".qcodeenter.QCodeCompanyInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---Q码营业执照的界面-->
        <activity
            android:name=".qcodeenter.QCodeLicenseEntryPhotoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---Q码基本信息的界面-->
        <activity
            android:name=".qcodeenter.QCodeBasicInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---Q码完成界面-->
        <activity
            android:name=".qcodeenter.QCodeApplyCompleteActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---Q码对私补充证明收入证明-->
        <activity
            android:name=".qcodeenter.QCodeSupplemeProveActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---Q码对私补充证明收入证明-->
        <activity
            android:name=".qcodeenter.QCodeRejectMerApplyActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---Q码绑定的界面-->
        <activity
            android:name=".qcodeenter.QCodeBindActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---Q码绑定详情界面-->
        <activity
            android:name=".qcodeenter.QCodeDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---Q码的二维码扫描-->
        <activity
            android:name=".qcodeenter.ercodeview.ErCodeMipcaCaptureActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!---Q码的商户协议-->
        <activity
            android:name=".qcodeenter.QCodeProtocolWebActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <!---存量商户的绑定-->
        <activity
            android:name="com.lakala.elive.market.merqcodebind.MerQCodeBindActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />


        <!---存量商户详情-->
        <activity
            android:name="com.lakala.elive.market.merqcodebind.MerQCodeDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />


        <service android:name=".common.utils.RequestDictionaryService"
            android:label="requestaddressandmcc"></service>
        <service android:name=".common.utils.RequestAllDictDataService"
            android:label="requestAllDicts"></service>
    </application>


</manifest>